<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each_with_index do |review, index| %>
    <li class="list-group-item"><%= index+1%>: <%= review.content %></li>
  <% end %>
</ul>
<br>

<div>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
